{
  "android": {
    "keystore": {
      "keystorePath": "/secrets/my-upload-key.jks",
      "keystorePassword": "${STOREPASS}",
      "keyAlias": "upload",
      "keyPassword": "${KEYPASS}"
    }
  }
}